.gameLink {
  text-decoration: none;
  color: inherit;
}

.game {
  background-color: var(--surface);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.game:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.game img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.gameContent {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
}

.gameContent strong {
  font-size: 1.2rem;
  color: var(--text-primary);
  margin-bottom: 0.5rem;
  min-height: 58px; 
}

.gameContent p {
  font-size: 0.9rem;
  color: var(--text-secondary);
  flex-grow: 1;
  margin-bottom: 1rem;
}

.gameContent a {
  display: inline-block;
  text-align: center;
  font-weight: 500;
  color: var(--text-primary);
  text-decoration: none;
  padding: 0.8rem 1.5rem;
  border-radius: 6px;
  border: none;
  margin-top: auto;
  cursor: pointer;
  background: linear-gradient(45deg, var(--border), var(--primary));
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.gameContent a:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 25px rgba(146, 77, 191, 0.4);
  background: linear-gradient(45deg, var(--primary), var(--primary-hover));
}

.gameCardContainer {
  cursor: pointer;
  height: 100%;
}

.info {
  display: flex;
  flex-grow: 1;
  margin-bottom: 1rem;
}

.info p {
  flex-grow: 1;
  margin-bottom: 0;
}

.platformIcon {
  font-size: 1.2rem;
  color: var(--text-secondary);
  margin-left: 1rem;
  align-self: flex-end;
}